FORMAT: 1A
HOST: https://api.signifyd.com/v2

# Signifyd API

This document will show you how to use our REST API to authenticate, make requests, and retrieve data. All responses to and from the API will be in [JSON](http://www.tutorialspoint.com/json/json_data_types.htm).

You can view a [step-by-step tutorial](https://www.youtube.com/watch?v=aUE-Othaf2c&feature=youtu.be) on how to send and fetch data using the Signifyd API. 

If you are a Signifyd customer and would like to access Enterprise API documentation, please [log in here](https://app.signifyd.com) and navigate to the Resource Center within Developer Tools.

## Authentication
All API requests must be made over HTTPS using a [base64 encoded](https://en.wikipedia.org/wiki/Base64) API key. You can generate an API key by creating a team in [settings](https://app.signifyd.com/settings) page.

- Authentication: [HTTP Basic Auth](http://en.wikipedia.org/wiki/Basic_access_authentication#Client_side).
- Username: Your API key as the basic auth username. 
- Password: You do not need to provide a password. However, some REST clients expect a username:password pair separated by a colon. If so, you can use a colon as the password.

## REST Client
Our API docs include a built-in REST console you can use to interactively test the API. Each endpoint is configured with example request data that will produce a successful result from our API if you provide valid credentials. By default, the API key in the REST console is `abcdefghijklmnopqrstuvwxyz` which appears in it's base64 encoded form, `YWJjZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXo6`. You must replace this with you own base64 encoded API key in the headers section of the console to successfully submit requests.

## Response Codes
We use conventional HTTP response codes to indicate success or failure of an API request. In general, codes in the 2xx range indicate success, codes in the 4xx range indicate an error that resulted from the provided information (e.g. a required parameter was missing, invalid syntax, etc.), and codes in the 5xx range indicate an error with Signifyd's servers.

| Code| Description |
| --- | --- |
|`200`| Success - Request completed. |
|`201`| Success - New resource created. |
|`202`| Success - The request has been accepted, but not yet processed. |
|`204`| Success - No content to return. |
|`400`| Bad Request - The request could not be parsed, generally due to bad syntax. |
|`401`| Unauthorized - The request could not be authenticated due to missing or invalid credentials. |
|`403`| Forbidden - You do not have permission to access to the resource. |
|`404`| Not Found - The resource doesn't exist. |
|`409`| Conflict - The with state of the resource on server. Can occur with (too rapid) PUT requests. |
|`429`| The request was not accepted because the application has exceeded the rate limit. APIs that have rate limits are specified in the API documentation. |
|`500`| Internal Server Error - An internal error occurred in Signifyd. |
|`503`| Service Unavailable - The server is currently unavailable. Check the status page for reported outages. |
|`504`| Gateway Timeout - The request could not complete in time. |


## Error Messages
There are two types of errors returned by the API server in the bodies of 4xx and 5xx responses:
- Field-specific errors
- General error messages

```
{
  "errors": {
    "fieldName":[
      "Field-specific error message, e.g., fieldName is not a valid email address."
    ]
  },
  "messages": [
    "General error message."
  ]
}
```

## Dates
Our API uses the [ISO8601](http://en.wikipedia.org/wiki/ISO_8601) date format for
complete date plus hours, minutes, seconds and timezone offset.

```
         yyyy-MM-dd'T'HH:mm:ssZ
For UTC: 2015-11-03T13:21:58+00:00
For PST: 2015-11-03T13:21:58-08:00
```
For more information about your specific programming language, please view [this document](https://developers.google.com/gmail/markup/reference/datetime-formatting).

## Unique IDs
Signifyd’s Unique IDs, such as caseId and transactionId,leverage the JSON integer type, which has a maximum value of 2 ^ 53 - 1 as mentioned in [RFC 8259](https://datatracker.ietf.org/doc/html/rfc8259)


## Backwards Compatibility
Signifyd treats the following API changes as backwards compatible:
- Adding new optional request parameter(s) to an existing API endpoint.
- Adding a new value to an enum field.
- Adding new fields to existing API responses.
- Changing the order of fields in an existing API response.
- Adding a brand new API resource.
- Adding a new webhook event. Your integration should handle unfamiliar webhook events gracefully.
- Changing the length of UUIDs (though we don't change lengths that often!).
- Changing the format of error messages, and other human readable strings.

## Feedback 
Was this document helpful?
[Yes](https://docs.google.com/forms/d/e/1FAIpQLSdBB8IWudRFdAob3uxwcEJTl9ryPJjyyJKsv5DbahYYG2Ickg/viewform?usp=pp_url&entry.323773105=5)
or [No](https://docs.google.com/forms/d/e/1FAIpQLSdBB8IWudRFdAob3uxwcEJTl9ryPJjyyJKsv5DbahYYG2Ickg/viewform?usp=pp_url&entry.323773105=1)


## Group Cases

Cases are orders submitted to Signifyd for review. A case contains payment, recipient, product, shipping, and account information.

## Create Case [/cases]

Submit an order for fraud review. We recommend sending as many data points as available for the best decision. If you are on a complete plan this will also automatically submit the order for guarantee.

### Create Case [POST]

+ Request (application/json)

    + Headers

            Authorization: Basic YWJjZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXo6

    + Attributes (CaseCreation)

    + Body

            {
                "deviceFingerprints": [
                    {
                        "provider": "threatmetrix",
                        "payload": "YWdlbnRfdHlwZT1icm93c2VyX2NvbXB1dGVyJmJyb3dzZXJfbGFuZ3VhZ2U9ZW4lMmRVUyUyY2VuJTNicSUzZDAlMmU4JmJyb3dzZXJfc3RyaW5nPU1vemlsbGElMmY1JTJlMCUyMCUyOFdpbmRvd3MlMjBOVCUyMDEwJTJlMCUzYiUyMFdPVzY0JTI5JTIwQXBwbGVXZWJLaXQlMmY1MzclMmUzNiUyMCUyOEtIVE1MJTJjJTIwbGlrZSUyMEdlY2tvJTI5JTIwQ2hyb21lJTJmNTAlMmUwJTJlMjY2MSUyZTk0JTIwU2FmYXJpJTJmNTM3JTJlMzYmYnJvd3Nlcl9zdHJpbmdfaGFzaD00YzM0NzFiYzgyOTUzODBjNTgxNGJjNWEyNzNiOWFjZCZicm93c2VyX3ZlcnNpb249NTAmY2lkcl9udW1iZXI9MCZjc3NfaW1hZ2VfbG9hZGVkPXllcyZjdXN0b21fcG9saWN5X3Njb3JlPSUyZDE1JmRldGVjdGVkX2ZsPXllcyZkZXZpY2VfZmlyc3Rfc2Vlbj0yMDE2JTJkMDElMmQyNiZkZXZpY2VfaWQ9MTIzNTQ2ZmU5Njc1NDk4Y2I5OGQxOTg3Mjk2ODM2MWMmZGV2aWNlX2lkX2NvbmZpZGVuY2U9MTAwJTJlMDAmZGV2aWNlX2xhc3RfZXZlbnQ9MjAxNiUyZDA1JTJkMTQmZGV2aWNlX2xhc3RfdXBkYXRlPTIwMTYlMmQwNSUyZDE0JmRldmljZV9tYXRjaF9yZXN1bHQ9c3VjY2VzcyZkZXZpY2VfcmVzdWx0PXN1Y2Nlc3MmZGV2aWNlX3Njb3JlPTAmZGV2aWNlX3dvcnN0X3Njb3JlPTAmZG5zX2lwPTE2NiUyZTE3MCUyZTM3JTJlMTgzJmRuc19pcF9jaXR5PXNhbiUyMGZyYW5jaXNjbyZkbnNfaXBfZ2VvPVVTJmRuc19pcF9pc3A9YXQlMjZ0JTIwd2lyZWxlc3MlMjBzZXJ2aWNlJmRuc19pcF9sYXRpdHVkZT0zNyUyZTc2OTE3JmRuc19pcF9sb25naXR1ZGU9JTJkMTIyJTJlNDQyNTAmZG5zX2lwX29yZ2FuaXphdGlvbj1zZXJ2aWNlJTIwcHJvdmlkZXIlMjBjb3Jwb3JhdGlvbiZkbnNfaXBfcmVnaW9uPWNhbGlmb3JuaWEmZW5hYmxlZF9jaz15ZXMmZW5hYmxlZF9mbD15ZXMmZW5hYmxlZF9pbT15ZXMmZW5hYmxlZF9qcz15ZXMmZXZlbnRfdHlwZT1wYXltZW50JmZsYXNoX2xhbmc9ZW4mZmxhc2hfb3M9V2luZG93cyUyMDEwJmZsYXNoX3ZlcnNpb249V0lOJTIwMjElMmMwJTJjMCUyYzIxNiZmdXp6eV9kZXZpY2VfZmlyc3Rfc2Vlbj0yMDE1JTJkMDclMmQyNCZmdXp6eV9kZXZpY2VfaWQ9MGEyNDRlYmQ5M2I1NDExMjg0N2IyYzhmYjY2NDQxMGYmZnV6enlfZGV2aWNlX2lkX2NvbmZpZGVuY2U9MTAwJTJlMDAmZnV6enlfZGV2aWNlX2xhc3RfZXZlbnQ9MjAxNiUyZDA1JTJkMTQmZnV6enlfZGV2aWNlX2xhc3RfdXBkYXRlPTIwMTYlMmQwNSUyZDE0JmZ1enp5X2RldmljZV9tYXRjaF9yZXN1bHQ9c3VjY2VzcyZmdXp6eV9kZXZpY2VfcmVzdWx0PXN1Y2Nlc3MmZnV6enlfZGV2aWNlX3Njb3JlPTAmZnV6enlfZGV2aWNlX3dvcnN0X3Njb3JlPTAmaGVhZGVyc19uYW1lX3ZhbHVlX2hhc2g9OWJkMDg2ZmQ3YzE3OWUyNTdiMGIzMzZiNDA3YTU2MmYmaGVhZGVyc19vcmRlcl9zdHJpbmdfaGFzaD1jN2JjYjRhYTQzNzA5MmZiMWRjMDU0MjU2N2ZiZGUzNCZodHRwX29zX3NpZ25hdHVyZT1MaW51eCUyMDIlMmUyJTJleCUyZDMlMmV4Jmh0dHBfcmVmZXJlcj1raGwzbkFOTmxJMDhJOUFGbkFkSCUyMTkwNTZOYWZlSEpFJmltYWdlX2xvYWRlZD15ZXMmanNfYnJvd3Nlcl9zdHJpbmc9TW96aWxsYSUyZjUlMmUwJTIwJTI4V2luZG93cyUyME5UJTIwMTAlMmUwJTNiJTIwV09XNjQlMjklMjBBcHBsZVdlYktpdCUyZjUzNyUyZTM2JTIwJTI4S0hUTUwlMmMlMjBsaWtlJTIwR2Vja28lMjklMjBDaHJvbWUlMmY1MCUyZTAlMmUyNjYxJTJlOTQlMjBTYWZhcmklMmY1MzclMmUzNiZqc19mb250c19oYXNoPWZjZWE4ZjYyYjkxZGI0N2JiMDMwNDE5NTgwNTQxNjZiJmpzX2ZvbnRzX251bWJlcj0xMzQmbWltZV90eXBlX2hhc2g9YTA3OGRhOWFhYzg4OGZlMTJhMTYxMmMwYjA0MWFkYWImbWltZV90eXBlX251bWJlcj03Jm9yZ19pZD0wZ3llbmI1NCZvcz1XaW5kb3dzJm9zX2Fub21hbHk9eWVzJm9zX2ZvbnRzX2hhc2g9MThjMjlhMjA1ZjUyNjYwNTQ5MTVlYjZiYWFkMDNmMmImb3NfZm9udHNfbnVtYmVyPTIyOCZwYWdlX3RpbWVfb249MjI4MTIwMCZwbHVnaW5fZmxhc2g9MjElMmUwJTIwcjAmcGx1Z2luX2hhc2g9ZDRmYzkxZTRkMmMwZjdiZDEzMjY2ZDI5NTNlMTZlNTgmcGx1Z2luX251bWJlcj01JnBvbGljeT1kZWZhdWx0JnBvbGljeV9zY29yZT0lMmQxNSZwcm9maWxlZF9kb21haW49Y2hlY2tvdXQlMmVzaG9waWZ5JTJlY29tJnByb2ZpbGVkX2RvbWFpbl9maXJzdF9zZWVuPTIwMTYlMmQwNSUyZDA5JnByb2ZpbGVkX2RvbWFpbl9sYXN0X2V2ZW50PTIwMTYlMmQwNSUyZDE0JnByb2ZpbGVkX2RvbWFpbl9sYXN0X3VwZGF0ZT0yMDE2JTJkMDUlMmQxNCZwcm9maWxlZF9kb21haW5fcmVzdWx0PXN1Y2Nlc3MmcHJvZmlsZWRfZG9tYWluX3Njb3JlPTAmcHJvZmlsZWRfZG9tYWluX3dvcnN0X3Njb3JlPTAmcHJvZmlsZWRfdXJsPWh0dHBzJTNhJTJmJTJmY2hlY2tvdXQlMmVzaG9waWZ5JTJlY29tJTJmMzU1MjE4OSUyZmNoZWNrb3V0cyUyZjBiZDY2MjI4ODA1NzQ3MDBjNGYzNTJkNzI4ODIxMjNjJTJmdGhhbmtfeW91JnByb2ZpbGluZ19kYXRldGltZT0xNDYzMTk5ODk1JnByb3h5X2lwPTEwNyUyZTc3JTJlMjExJTJlMTU5JnByb3h5X2lwX2Fzc2VydF9oaXN0b3J5PU5FR0FUSVZFX0hJU1RPUlkmcHJveHlfaXBfY2l0eT1hdGxhbnRhJnByb3h5X2lwX2ZpcnN0X3NlZW49MjAxNiUyZDA0JTJkMDQmcHJveHlfaXBfZ2VvPVVTJnByb3h5X2lwX2lzcD1hdCUyNnQlMjB3aXJlbGVzcyUyMHNlcnZpY2UmcHJveHlfaXBfbGFzdF9ldmVudD0yMDE2JTJkMDUlMmQxNCZwcm94eV9pcF9sYXN0X3VwZGF0ZT0yMDE2JTJkMDUlMmQxNCZwcm94eV9pcF9sYXRpdHVkZT0zMyUyZTg3NzI3JnByb3h5X2lwX2xvbmdpdHVkZT0lMmQ4NCUyZTMzNDA0JnByb3h5X2lwX29yZ2FuaXphdGlvbj1hdCUyNnQlMjBtb2JpbGl0eSUyMGxsYyZwcm94eV9pcF9yZWdpb249Z2VvcmdpYSZwcm94eV9pcF9yZXN1bHQ9c3VjY2VzcyZwcm94eV9pcF9zY29yZT03JnByb3h5X2lwX3dvcnN0X3Njb3JlPSUyZDQ0JnByb3h5X3R5cGU9dHJhbnNwYXJlbnQmcmVhc29uX2NvZGU9VHJhbnNwYXJlbnRQcm94eSZyZWFzb25fY29kZT1Qcm94eVRydWVPcmdhbml6YXRpb25NaXNtYXRjaCZyZWFzb25fY29kZT1Qcm94eVRydWVSZWdpb25NaXNtYXRjaCZyZWFzb25fY29kZT1Qcm94eVRydWVDaXR5TWlzbWF0Y2gmcmVxdWVzdF9kdXJhdGlvbj00OCZyZXF1ZXN0X2lkPTQ1N2VhY2NjJTJkZjMxOSUyZDQwNDQlMmRiMmQ4JTJkMzBkMWZmODRiZWE1JnJlcXVlc3RfcmVzdWx0PXN1Y2Nlc3MmcmV2aWV3X3N0YXR1cz1wYXNzJnJpc2tfcmF0aW5nPWxvdyZzY3JlZW5fY29sb3JfZGVwdGg9MjQmc2NyZWVuX2RwaT03MiZzY3JlZW5fcmVzPTE2MDB4OTAwJnNlcnZpY2VfdHlwZT1zZXNzaW9uJTJkcG9saWN5JnNlc3Npb25faWQ9MGJkNjYyMjg4MDU3NDcwMGM0ZjM1MmQ3Mjg4MjEyM2Mmc2Vzc2lvbl9pZF9xdWVyeV9jb3VudD0zJnN1bW1hcnlfcmlza19zY29yZT0lMmQxNSZzeXN0ZW1fc3RhdGU9MTQ2MTMxMzYxMiZ0Y3Bfb3Nfc2lnbmF0dXJlPVdpbmRvd3MlMjB2aXN0YSUyMG9yJTIwNyUyMG9yJTIwOCZ0aW1lX3pvbmU9JTJkMzYwJnRpbWVfem9uZV9kc3Rfb2Zmc2V0PTYwJnRydWVfaXA9MTY2JTJlMTcwJTJlMzklMmUxOTkmdHJ1ZV9pcF9hc3NlcnRfaGlzdG9yeT1ORUdBVElWRV9ISVNUT1JZJnRydWVfaXBfYXR0cmlidXRlcz1fV0FUQ0gmdHJ1ZV9pcF9jaXR5PXNhbiUyMGZyYW5jaXNjbyZ0cnVlX2lwX2ZpcnN0X3NlZW49MjAxNCUyZDA4JTJkMjEmdHJ1ZV9pcF9nZW89VVMmdHJ1ZV9pcF9pc3A9YXQlMjZ0JTIwd2lyZWxlc3MlMjBzZXJ2aWNlJnRydWVfaXBfbGFzdF9ldmVudD0yMDE2JTJkMDUlMmQxNCZ0cnVlX2lwX2xhc3RfdXBkYXRlPTIwMTYlMmQwNSUyZDE0JnRydWVfaXBfbGF0aXR1ZGU9MzclMmU3NjkxNyZ0cnVlX2lwX2xvbmdpdHVkZT0lMmQxMjIlMmU0NDI1MCZ0cnVlX2lwX29yZ2FuaXphdGlvbj1zZXJ2aWNlJTIwcHJvdmlkZXIlMjBjb3Jwb3JhdGlvbiZ0cnVlX2lwX3JlZ2lvbj1jYWxpZm9ybmlhJnRydWVfaXBfcmVzdWx0PXN1Y2Nlc3MmdHJ1ZV9pcF9zY29yZT0zJnRydWVfaXBfd29yc3Rfc2NvcmU9JTJkMzAmdWFfYnJvd3Nlcj1jaHJvbWUlMjA1MCUyZTAmdWFfb3M9d2luMTAmdWFfcGxhdGZvcm09Y2hyb21lJTIwNTAlMmUwDQo=",
                        "payloadEncoding": "utf8",
                        "payloadVersion": null
                    }
                ],
                "policy": {
                    "name": "POST_AUTH"
                },
                "decisionRequest": {
                    "paymentFraud": "GUARANTEE"
                },
                "purchase": {
                    "orderSessionId": "uha3d98weicm20eufhlqe",
                    "orderId": "19418",
                    "checkoutToken": "b1946ac92492d2347c6235b4d2611184",
                    "browserIpAddress": "192.168.1.1",
                    "createdAt": "2019-07-11T17:54:31-05:00",
                    "currency": "USD",
                    "orderChannel": "PHONE",
                    "receivedBy": "John Doe",
                    "totalPrice": 74.99,
                    "products": [
                        {
                            "itemId": "1",
                            "itemName": "Sparkly sandals",
                            "itemIsDigital": false,
                            "itemCategory": "apparel",
                            "itemSubCategory": "footwear",
                            "itemUrl": "http://mydomain.com/sparkly-sandals",
                            "itemImage": "http://mydomain.com/images/sparkly-sandals.jpeg",
                            "itemQuantity": 1,
                            "itemPrice": 49.99,
                            "itemWeight": 5
                        },
                        {
                            "itemId": "2",
                            "itemName": "Summer tank top",
                            "itemIsDigital": false,
                            "itemCategory": "apparel",
                            "itemSubCategory": "shirts",
                            "itemUrl": "http://mydomain.com/summer-tank",
                            "itemImage": "http://mydomain.com/images/summer-tank.jpeg",
                            "itemQuantity": 1,
                            "itemPrice": 19.99,
                            "itemWeight": 2
                        },
                        {
                            "itemId": "3",
                            "itemName": "Coffee Beans",
                            "itemIsDigital": false,
                            "itemCategory": "beverage",
                            "itemSubCategory": "coffee",
                            "itemUrl": "http://mydomain.com/coffee-beans",
                            "itemImage": "http://mydomain.com/images/coffee-beans.jpeg",
                            "itemQuantity": 1,
                            "itemPrice": 8.99,
                            "itemWeight": 10,
                            "subscription": {
                                "id": "abc123",
                                "periodUnit": "MONTH",
                                "regularPeriodPrice": 8.99,
                                "currentPeriod": 1,
                                "totalPeriods": 12,
                                "totalRetailValue": 107.88
                            }
                        }
                    ],
                   "discountCodes": [ 
                        {
                           "amount": 10.00,
                           "code": "TENDOLLARSOFF"
                        },
                        {
                            "percentage": 20,
                            "code": "20PERCENTOFF"
                        }
                    ],   
                    "shipments": [
                        {
                            "shipper": "UPS",
                            "shippingMethod": "ground",
                            "shippingPrice": 10
                        },
                        {
                            "shipper": "USPS",
                            "shippingMethod": "international",
                            "shippingPrice": 20
                        }
                    ]
                },
                "recipients": [ 
                    {
                        "fullName": "Bob Smith",
                        "confirmationEmail": "bob@gmail.com",
                        "confirmationPhone": "5047130000",
                        "organization": "SIGNIFYD",
                        "deliveryAddress": {
                            "streetAddress": "123 State Street",
                            "unit": "2A",
                            "city": "Chicago",
                            "provinceCode": "IL",
                            "postalCode": "60622",
                            "countryCode": "US"
                        }
                    },
                    {
                        "fullName": "Mary Smith",
                        "confirmationEmail": "mary@gmail.com",
                        "confirmationPhone": "5047120000",
                        "organization": "SIGNIFYD",
                        "deliveryAddress": {
                            "streetAddress": "123 State Street",
                            "unit": "2A",
                            "city": "Chicago",
                            "provinceCode": "IL",
                            "postalCode": "60622",
                            "countryCode": "US"
                        }
                    }
                ],
                "transactions": [ 
                {
                    "parentTransactionId": null,
                    "transactionId": "1053198581844",
                    "createdAt": "2018-10-11T17:55:31-05:00",
                    "gateway": "Stripe",
                    "paymentMethod": "CREDIT_CARD",
                    "type": "AUTHORIZATION",
                    "gatewayStatusCode": "FAILURE",
                    "gatewayStatusMessage": "incorrect CVC number provided.",
                    "gatewayErrorCode": "INVALID_CVC",
                    "currency": "USD",
                    "amount": 700,
                    "avsResponseCode": "Y",
                    "cvvResponseCode": "N",
                    "paypalPendingReasonCode": null,
                    "paypalProtectionEligibility": null,
                    "paypalProtectionEligibilityType": null,
                    "checkoutPaymentDetails": {
                        "holderName": "John Wick",
                        "holderTaxId": "231.002.999-00",
                        "holderTaxCountry": "BR",
                        "cardBin": "403712",
                        "cardLast4": "3423",
                        "cardExpiryMonth": 12,
                        "cardExpiryYear": 2021,
                        "bankAccountNumber": null,
                        "bankRoutingNumber": null,
                        "billingAddress": {
                            "streetAddress": "1800 Vine Street",
                            "unit": "2A",
                            "city": "Chicago",
                            "provinceCode": "IL",
                            "postalCode": "60622",
                            "countryCode": "US"
                        }
                    },
                    "paymentAccountHolder": {
                        "accountCreatedAt": null,
                        "accountId": null,
                        "accountHolderName": null,
                        "accountHolderPhone": null,
                        "accountHolderEmail": null,
                        "accountHolderDob": null,
                        "accountHolderAnnualIncome": null,
                        "accountIsVerified": null,
                        "accountIsActive": null,
                        "accountCreditLine": null,
                        "accountBalance": null,
                        "billingAddress": {
                            "streetAddress": null,
                            "unit": null,
                            "city": null,
                            "provinceCode": null,
                            "postalCode": null,
                            "countryCode": null
                        }
                    }
                },
                {
                    "parentTransactionId": "1053198581844",
                    "transactionId": "1053198581844",
                    "createdAt": "2018-10-11T17:56:11-05:00",
                    "gateway": "Stripe",
                    "paymentMethod": "CREDIT_CARD",
                    "type": "AUTHORIZATION",
                    "gatewayStatusCode": "SUCCESS",
                    "gatewayStatusMessage": null,
                    "gatewayErrorCode": null,
                    "currency": "USD",
                    "amount": 700,
                    "avsResponseCode": "Y",
                    "cvvResponseCode": "M",
                    "paypalPendingReasonCode": null,
                    "paypalProtectionEligibility": null,
                    "paypalProtectionEligibilityType": null,
                    "checkoutPaymentDetails": {
                        "holderName": "John Wick",
                        "holderTaxId": "231.002.999-00",
                        "holderTaxCountry": "BR",
                        "cardBin": "403712",
                        "cardLast4": "3423",
                        "cardExpiryMonth": 12,
                        "cardExpiryYear": 2021,
                        "bankAccountNumber": null,
                        "bankRoutingNumber": null,
                        "billingAddress": {
                            "streetAddress": "1800 Vine Street",
                            "unit": "2A",
                            "city": "Chicago",
                            "provinceCode": "IL",
                            "postalCode": "60622",
                            "countryCode": "US"
                        }
                    },
                    "paymentAccountHolder": {
                        "accountCreatedAt": null,
                        "accountId": null,
                        "accountHolderName": null,
                        "accountHolderPhone": null,
                        "accountHolderEmail": null,
                        "accountHolderDob": null,
                        "accountHolderAnnualIncome": null,
                        "accountIsVerified": null,
                        "accountIsActive": null,
                        "accountCreditLine": null,
                        "accountBalance": null,
                        "billingAddress": {
                            "streetAddress": null,
                            "unit": null,
                            "city": null,
                            "provinceCode": null,
                            "postalCode": null,
                            "countryCode": null
                        }
                    }
                },
                {
                    "parentTransactionId": null,
                    "transactionId": "PAY-1B56960729604235TKQQIYVY",
                    "createdAt": "2018-10-11T17:55:41-05:00",
                    "gateway": "Paypal Express",
                    "paymentMethod": "PAYPAL_ACCOUNT",
                    "type": "AUTHORIZATION",
                    "gatewayStatusCode": "PENDING",
                    "gatewayStatusMessage": null,
                    "gatewayErrorCode": null,
                    "currency": "USD",
                    "amount": 100,
                    "avsResponseCode": null,
                    "cvvResponseCode": null,
                    "paypalPendingReasonCode": "VERIFICATION_REQUIRED",
                    "paypalProtectionEligibility": "ELIGIBLE",
                    "paypalProtectionEligibilityType": "ITEM_NOT_RECEIVED_ELIGIBLE",
                    "checkoutPaymentDetails": {
                        "holderName": "John Wick",
                        "cardBin": null,
                        "cardLast4": null,
                        "cardExpiryMonth": null,
                        "cardExpiryYear": null,
                        "bankAccountNumber": null,
                        "bankRoutingNumber": null,
                        "billingAddress": {
                            "streetAddress": "1800 Vine Street",
                            "unit": "2A",
                            "city": "Chicago",
                            "provinceCode": "IL",
                            "postalCode": "60622",
                            "countryCode": "US"
                        }
                    },
                    "paymentAccountHolder": {
                        "accountCreatedAt": "2015-10-11T17:55:41-05:00",
                        "accountId": "PUP87RBJV8HPU",
                        "accountHolderName": "John Wick",
                        "accountHolderPhone": "4088001000",
                        "accountHolderEmail": "john.wick@gmail.com",
                        "accountHolderDob": "1980-01-02",
                        "accountHolderAnnualIncome": null,
                        "accountIsVerified": true,
                        "accountIsActive": true,
                        "accountCreditLine": null,
                        "accountBalance": 300,
                        "billingAddress": {
                            "streetAddress": "10 Taylor Street",
                            "unit": null,
                            "city": "Chicago",
                            "provinceCode": "IL",
                            "postalCode": "60622",
                            "countryCode": "US"
                        }
                    }
                }
                ],
                "customerOrderRecommendation": "REJECT",
                "tags": ["wholesale", "march summer sale event"],
                "userAccount": {
                    "email": "bob@gmail.com",
                    "username": "bobbo",
                    "phone": "5555551212",
                    "createdDate": "2013-01-18T17:54:31-05:00",
                    "accountNumber": "54321",
                    "lastOrderId": "4321",
                    "aggregateOrderCount": 40,
                    "aggregateOrderDollars": 5000,
                    "lastUpdateDate": "2013-01-18T17:54:31-05:00",
                    "rating": "200"
                },
                "seller": {
                    "name": "We sell awesome stuff, Inc.",
                    "email": "wesellawesomestuff@gmail.com",
                    "username": "awesomestuff1234",
                    "phone": "8883334545",
                    "domain": "wesellawesomestuff.com",
                    "createdDate": "2012-01-09T12:33:34-04:00",
                    "accountNumber": "54321",
                    "aggregateOrderCount": 4000,
                    "aggregateOrderDollars": 3000000.00,
                    "lastUpdateDate": "2019-07-22T07:22:33-04:00",
                    "onboardingIpAddress": "192.122.1.1",
                    "onboardingEmail": "wesellawesomestuff@gmail.com",
                    "tags": ["Enterprise Account", "Gold Plan"],
                    "rating": "12",
                    "shipFromAddress": {
                        "streetAddress": "1850 Mercer Rd",
                        "unit": null,
                        "city": "Lexington",
                        "provinceCode": "KY",
                        "postalCode": "40511",
                        "countryCode": "US"
                    },
                    "corporateAddress": {
                        "streetAddress": "410 Terry Ave",
                        "unit": "3L",
                        "city": "Seattle",
                        "provinceCode": "WA",
                        "postalCode": "98109",
                        "countryCode": "US"
                    }
                }
            }

+ Response 201 (application/json)

    + Body

            {
                "investigationId": 1
            }

+ Response 400 (application/json)

    + Body

            {
                  "errors": {
                     "purchase.browserIpAddress": [
                          "error.ip"
                    ]
                }
            }

## Get Case [/cases/{caseId}]
Retrieve details about an individual case by investigation id or case id.

### Get Case [GET]

+ Parameters
    + caseId: 44 (integer) - The unique identifier for the case that you want to retrieve.  This identifier is issued upon case creation.

+ Request

    + Headers

            Authorization: Basic YWJjZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXo6

+ Response 200 (application/json)

    + Attributes (Case)


    + Body

            {
                "associatedTeam": {
                    "teamId": 24,
                    "teamName": "My ecommerce store"
            	},
                "guaranteeDisposition": "APPROVED",
                "investigationId": 44,
                "caseId": 44,
                "headline": "Maxine Trycia",
                "uuid": "97c56c86-7984-44fa-9a3e-7d5f34d1bead",
                "updatedAt": "2017-06-09T21:03:26+0000",
                "status": "DISMISSED",
                "reviewDisposition": "UNSET",
                "orderId": "19418",
                "orderAmount": 74.99,
                "orderOutcome": "SUCCESSFUL,
                "currency": "USD",
                "score": 776,
                "orderDate": "2016-10-28T22:54:31+0000",
                "createdAt": "2016-10-31T23:46:37+0000",
                "testInvestigation": false,
                "guaranteeEligible": false
            }

+ Response 404 (application/json)

    + Body

            {
              messages: [
                  "There is no case with that id, or you do not have permission to access it."
              ]
            }

# Group Events

Events are used to notify Signifyd about key events that occur during the lifecycle of an order. These events are used to collect indictors about  

## Order Fulfilled [/fulfillments/{orderId}]
A fulfillment represents a shipment of one or more items in an order. Submit fulfillments details for orders that you have shipped, even if the order is partially shipped. Fulfillments are used to improve decision performance and as proof of delivery for submitted chargebacks. 


### Send Fulfillment [POST]

+ Parameters
    + orderId: "19418" (string) - the order id associated to a case that was previously created.

+ Request (application/json)

    + Headers
    
            Authorization: Basic YWJjZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXo6
            
    + Attribute (Fulfillments)

    + Body
    
            {  
               "fulfillments":[  
                  {  
                     "id":"1002",
                     "orderId":"19418",
                     "createdAt":"2018-09-01T13:00:00Z",
                     "recipientName":"Bob Smith",
                     "deliveryEmail":"bob@gmail.com",
                     "fulfillmentStatus":"partial",
                     "shipmentStatus":"delivered",
                     "shippingCarrier":"UPS",
                     "trackingNumbers":[  
                        "1Z827wk74630"
                     ],
                     "trackingUrls":[  
                        "http:\/\/wwwapps.ups.com\/etracking\/tracking.cgi?1Z827wk74630"
                     ],
                     "products":[  
                        {  
                           "itemId":"1",
                           "itemName":"Sparkly sandals",
                           "itemIsDigital":false,
                           "itemCategory":"apparel",
                           "itemSubCategory":"footwear",
                           "itemUrl":"http://mydomain.com/sparkly-sandals",
                           "itemImage":"http://mydomain.com/images/sparkly-sandals.jpeg",
                           "itemQuantity":1,
                           "itemPrice":49.99,
                           "itemWeight":5
                        }
                      ],
                        "deliveryAddress": {
                        "streetAddress": "123 State Street",
                        "unit": "2A",
                        "city": "Chicago",
                        "provinceCode": "IL",
                        "postalCode": "60622",
                        "countryCode": "US"
                    },
                    "confirmationName": "ACME Ware House",
                    "confirmationPhone": 1231232
                    }
                ]
            }

+ Response 200 (application/json)

    + Body

            {  
               "fulfillments":[  
                  {  
                     "id":"1002",
                     "orderId":"19418",
                     "createdAt":"2018-09-01T13:00:00Z",
                     "recipientName":"Bob Smith",
                     "deliveryEmail":"bob@gmail.com",
                     "fulfillmentStatus":"partial",
                     "shipmentStatus":"delivered",
                     "shippingCarrier":"UPS",
                     "trackingNumbers":[  
                        "1Z827wk74630"
                     ],
                     "trackingUrls":[  
                        "http:\/\/wwwapps.ups.com\/etracking\/tracking.cgi?1Z827wk74630"
                     ],
                     "products":[  
                        {  
                           "itemId":"1",
                           "itemName":"Sparkly sandals",
                           "itemIsDigital":false,
                           "itemCategory":"apparel",
                           "itemSubCategory":"footwear",
                           "itemUrl":"http://mydomain.com/sparkly-sandals",
                           "itemImage":"http://mydomain.com/images/sparkly-sandals.jpeg",
                           "itemQuantity":1,
                           "itemPrice":49.99,
                           "itemWeight":5
                        }
                     ]
                  }
               ]
            }

## Payment Completed [/transactions]
A transaction represents an attempt to exchange money for an order. This is used to collect the details of the payment and the status of the payment, success or failure. This API should be used only if you are creating a [case](https://developer.signifyd.com/api/#/reference/cases/create-case) before collecting payment (pre-authorization). 

### Send Transaction [POST]

+ Request (application/json)

    + Headers

            Authorization: Basic YWJjZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXo6

    + Attributes (CreateTransactions)

    + Body

            {
                "checkoutToken": "b1946ac92492d2347c6235b4d2611184",
                "transactions": [ 
                {
                    "parentTransactionId": null,
                    "transactionId": "1053198581844",
                    "createdAt": "2018-10-11T17:55:31-05:00",
                    "gateway": "Stripe",
                    "paymentMethod": "CREDIT_CARD",
                    "type": "AUTHORIZATION",
                    "gatewayStatusCode": "FAILURE",
                    "gatewayStatusMessage": "incorrect CVC number provided.",
                    "gatewayErrorCode": "INVALID_CVC",
                    "currency": "USD",
                    "amount": 700,
                    "avsResponseCode": "Y",
                    "cvvResponseCode": "N",
                    "paypalPendingReasonCode": null,
                    "paypalProtectionEligibility": null,
                    "paypalProtectionEligibilityType": null,
                    "checkoutPaymentDetails": {
                        "holderName": "John Wick",
                        "holderTaxId": "231.002.999-00",
                        "holderTaxCountry": "BR",
                        "cardBin": "403712",
                        "cardLast4": "3423",
                        "cardExpiryMonth": 12,
                        "cardExpiryYear": 2021,
                        "bankAccountNumber": null,
                        "bankRoutingNumber": null,
                        "billingAddress": {
                            "streetAddress": "1800 Vine Street",
                            "unit": "2A",
                            "city": "Chicago",
                            "provinceCode": "IL",
                            "postalCode": "60622",
                            "countryCode": "US"
                        }
                    },
                    "paymentAccountHolder": {
                        "accountCreatedAt": null,
                        "accountId": null,
                        "accountHolderName": null,
                        "accountHolderPhone": null,
                        "accountHolderEmail": null,
                        "accountHolderDob": null,
                        "accountHolderAnnualIncome": null,
                        "accountIsVerified": null,
                        "accountIsActive": null,
                        "accountCreditLine": null,
                        "accountBalance": null,
                        "billingAddress": {
                            "streetAddress": null,
                            "unit": null,
                            "city": null,
                            "provinceCode": null,
                            "postalCode": null,
                            "countryCode": null
                        }
                    }
                },
                {
                    "parentTransactionId": "1053198581844",
                    "transactionId": "1053198581844",
                    "createdAt": "2018-10-11T17:56:11-05:00",
                    "gateway": "Stripe",
                    "paymentMethod": "CREDIT_CARD",
                    "type": "AUTHORIZATION",
                    "gatewayStatusCode": "SUCCESS",
                    "gatewayStatusMessage": null,
                    "gatewayErrorCode": null,
                    "currency": "USD",
                    "amount": 700,
                    "avsResponseCode": "Y",
                    "cvvResponseCode": "M",
                    "paypalPendingReasonCode": null,
                    "paypalProtectionEligibility": null,
                    "paypalProtectionEligibilityType": null,
                    "checkoutPaymentDetails": {
                        "holderName": "John Wick",
                        "holderTaxId": "231.002.999-00",
                        "holderTaxCountry": "BR",
                        "cardBin": "403712",
                        "cardLast4": "3423",
                        "cardExpiryMonth": 12,
                        "cardExpiryYear": 2021,
                        "bankAccountNumber": null,
                        "bankRoutingNumber": null,
                        "billingAddress": {
                            "streetAddress": "1800 Vine Street",
                            "unit": "2A",
                            "city": "Chicago",
                            "provinceCode": "IL",
                            "postalCode": "60622",
                            "countryCode": "US"
                        }
                    },
                    "paymentAccountHolder": {
                        "accountCreatedAt": null,
                        "accountId": null,
                        "accountHolderName": null,
                        "accountHolderPhone": null,
                        "accountHolderEmail": null,
                        "accountHolderDob": null,
                        "accountHolderAnnualIncome": null,
                        "accountIsVerified": null,
                        "accountIsActive": null,
                        "accountCreditLine": null,
                        "accountBalance": null,
                        "billingAddress": {
                            "streetAddress": null,
                            "unit": null,
                            "city": null,
                            "provinceCode": null,
                            "postalCode": null,
                            "countryCode": null
                        }
                    }
                },
                {
                    "parentTransactionId": null,
                    "transactionId": "PAY-1B56960729604235TKQQIYVY",
                    "createdAt": "2018-10-11T17:55:41-05:00",
                    "gateway": "Paypal Express",
                    "paymentMethod": "PAYPAL_ACCOUNT",
                    "type": "AUTHORIZATION",
                    "gatewayStatusCode": "PENDING",
                    "gatewayStatusMessage": null,
                    "gatewayErrorCode": null,
                    "currency": "USD",
                    "amount": 100,
                    "avsResponseCode": null,
                    "cvvResponseCode": null,
                    "paypalPendingReasonCode": "VERIFICATION_REQUIRED",
                    "paypalProtectionEligibility": "ELIGIBLE",
                    "paypalProtectionEligibilityType": "ITEM_NOT_RECEIVED_ELIGIBLE",
                    "checkoutPaymentDetails": {
                        "holderName": "John Wick",
                        "cardBin": null,
                        "cardLast4": null,
                        "cardExpiryMonth": null,
                        "cardExpiryYear": null,
                        "bankAccountNumber": null,
                        "bankRoutingNumber": null,
                        "billingAddress": {
                            "streetAddress": "1800 Vine Street",
                            "unit": "2A",
                            "city": "Chicago",
                            "provinceCode": "IL",
                            "postalCode": "60622",
                            "countryCode": "US"
                        }
                    },
                    "paymentAccountHolder": {
                        "accountCreatedAt": "2015-10-11T17:55:41-05:00",
                        "accountId": "PUP87RBJV8HPU",
                        "accountHolderName": "John Wick",
                        "accountHolderPhone": "4088001000",
                        "accountHolderEmail": "john.wick@gmail.com",
                        "accountHolderDob": "1980-01-02",
                        "accountHolderAnnualIncome": null,
                        "accountIsVerified": true,
                        "accountIsActive": true,
                        "accountCreditLine": null,
                        "accountBalance": 300,
                        "billingAddress": {
                            "streetAddress": "10 Taylor Street",
                            "unit": null,
                            "city": "Chicago",
                            "provinceCode": "IL",
                            "postalCode": "60622",
                            "countryCode": "US"
                        }
                    }
                }
                ]
                }

+ Response 200 (application/json)

    + Body
    

            {
                "checkoutToken": "b1946ac92492d2347c6235b4d2611184",
                "transactions": [ 
                {
                    "parentTransactionId": null,
                    "transactionId": "1053198581844",
                    "createdAt": "2018-10-11T17:55:31-05:00",
                    "gateway": "Stripe",
                    "paymentMethod": "CREDIT_CARD",
                    "type": "AUTHORIZATION",
                    "gatewayStatusCode": "FAILURE",
                    "gatewayStatusMessage": "incorrect CVC number provided.",
                    "gatewayErrorCode": "INVALID_CVC",
                    "currency": "USD",
                    "amount": 700,
                    "avsResponseCode": "Y",
                    "cvvResponseCode": "N",
                    "paypalPendingReasonCode": null,
                    "paypalProtectionEligibility": null,
                    "paypalProtectionEligibilityType": null,
                    "checkoutPaymentDetails": {
                        "holderName": "John Wick",
                        "holderTaxId": "231.002.999-00",
                        "holderTaxCountry": "BR",
                        "cardBin": "403712",
                        "cardLast4": "3423",
                        "cardExpiryMonth": 12,
                        "cardExpiryYear": 2021,
                        "bankAccountNumber": null,
                        "bankRoutingNumber": null,
                        "billingAddress": {
                            "streetAddress": "1800 Vine Street",
                            "unit": "2A",
                            "city": "Chicago",
                            "provinceCode": "IL",
                            "postalCode": "60622",
                            "countryCode": "US"
                        }
                    },
                    "paymentAccountHolder": {
                        "accountCreatedAt": null,
                        "accountId": null,
                        "accountHolderName": null,
                        "accountHolderPhone": null,
                        "accountHolderEmail": null,
                        "accountHolderDob": null,
                        "accountHolderAnnualIncome": null,
                        "accountIsVerified": null,
                        "accountIsActive": null,
                        "accountCreditLine": null,
                        "accountBalance": null,
                        "billingAddress": {
                            "streetAddress": null,
                            "unit": null,
                            "city": null,
                            "provinceCode": null,
                            "postalCode": null,
                            "countryCode": null
                        }
                    }
                },
                {
                    "parentTransactionId": "1053198581844",
                    "transactionId": "1053198581844",
                    "createdAt": "2018-10-11T17:56:11-05:00",
                    "gateway": "Stripe",
                    "paymentMethod": "CREDIT_CARD",
                    "type": "AUTHORIZATION",
                    "gatewayStatusCode": "SUCCESS",
                    "gatewayStatusMessage": null,
                    "gatewayErrorCode": null,
                    "currency": "USD",
                    "amount": 700,
                    "avsResponseCode": "Y",
                    "cvvResponseCode": "M",
                    "paypalPendingReasonCode": null,
                    "paypalProtectionEligibility": null,
                    "paypalProtectionEligibilityType": null,
                    "checkoutPaymentDetails": {
                        "holderName": "John Wick",
                        "holderTaxId": "231.002.999-00",
                        "holderTaxCountry": "BR",
                        "cardBin": "403712",
                        "cardLast4": "3423",
                        "cardExpiryMonth": 12,
                        "cardExpiryYear": 2021,
                        "bankAccountNumber": null,
                        "bankRoutingNumber": null,
                        "billingAddress": {
                            "streetAddress": "1800 Vine Street",
                            "unit": "2A",
                            "city": "Chicago",
                            "provinceCode": "IL",
                            "postalCode": "60622",
                            "countryCode": "US"
                        }
                    },
                    "paymentAccountHolder": {
                        "accountCreatedAt": null,
                        "accountId": null,
                        "accountHolderName": null,
                        "accountHolderPhone": null,
                        "accountHolderEmail": null,
                        "accountHolderDob": null,
                        "accountHolderAnnualIncome": null,
                        "accountIsVerified": null,
                        "accountIsActive": null,
                        "accountCreditLine": null,
                        "accountBalance": null,
                        "billingAddress": {
                            "streetAddress": null,
                            "unit": null,
                            "city": null,
                            "provinceCode": null,
                            "postalCode": null,
                            "countryCode": null
                        }
                    }
                },
                {
                    "parentTransactionId": null,
                    "transactionId": "PAY-1B56960729604235TKQQIYVY",
                    "createdAt": "2018-10-11T17:55:41-05:00",
                    "gateway": "Paypal Express",
                    "paymentMethod": "PAYPAL_ACCOUNT",
                    "type": "AUTHORIZATION",
                    "gatewayStatusCode": "PENDING",
                    "gatewayStatusMessage": null,
                    "gatewayErrorCode": null,
                    "currency": "USD",
                    "amount": 100,
                    "avsResponseCode": null,
                    "cvvResponseCode": null,
                    "paypalPendingReasonCode": "VERIFICATION_REQUIRED",
                    "paypalProtectionEligibility": "ELIGIBLE",
                    "paypalProtectionEligibilityType": "ITEM_NOT_RECEIVED_ELIGIBLE",
                    "checkoutPaymentDetails": {
                        "holderName": "John Wick",
                        "cardBin": null,
                        "cardLast4": null,
                        "cardExpiryMonth": null,
                        "cardExpiryYear": null,
                        "bankAccountNumber": null,
                        "bankRoutingNumber": null,
                        "billingAddress": {
                            "streetAddress": "1800 Vine Street",
                            "unit": "2A",
                            "city": "Chicago",
                            "provinceCode": "IL",
                            "postalCode": "60622",
                            "countryCode": "US"
                        }
                    },
                    "paymentAccountHolder": {
                        "accountCreatedAt": "2015-10-11T17:55:41-05:00",
                        "accountId": "PUP87RBJV8HPU",
                        "accountHolderName": "John Wick",
                        "accountHolderPhone": "4088001000",
                        "accountHolderEmail": "john.wick@gmail.com",
                        "accountHolderDob": "1980-01-02",
                        "accountHolderAnnualIncome": null,
                        "accountIsVerified": true,
                        "accountIsActive": true,
                        "accountCreditLine": null,
                        "accountBalance": 300,
                        "billingAddress": {
                            "streetAddress": "10 Taylor Street",
                            "unit": null,
                            "city": "Chicago",
                            "provinceCode": "IL",
                            "postalCode": "60622",
                            "countryCode": "US"
                        }
                    }
                }
                ]
                }

            
+ Response 400 (application/json)

    + Body

            {
                "errors": {
                "transactions[0].type": [
                "This field is required."
            ]
            }
            }

## Group Guarantees
A guarantee is a financial liability shift that protects online retailers in case of chargebacks. View our product manual to [learn more](https://www.signifyd.com/resources/manual/signifyd-guarantee/signifyd-guarantee/). 

*Guarantee APIs require a case or investigation id which is only provided when [creating a case](https://jsapi.apiary.io/apis/signifydapi/reference/cases/create-a-case/create-case.html).*

## Submit for Guarantee [/async/guarantees]
Submit a request to guarantee an existing case.

### Submit Guarantee [POST]

+ Request (application/json)
    + Headers

            Authorization: Basic YWJjZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXo6
    + Body

            {
                "caseId": 44
            }


+ Response 202 (application/json)

    + Body

            {
                "caseId": 44            
            }
            
            
## Cancel a Guarantee [/cases/{caseId}/guarantee]
A Guarantee can be canceled for orders that no longer require a guarantee. Example: Your customer cancels the order and you issue a refund, you run out of stock for the ordered item, or you cancel the order. 

*Your account will be credited for any canceled guarantees. You cannot cancel a guarantee that has been declined or after 30 days of submission.*

### Cancel Guarantee [PUT]

+ Parameters
    + caseId: 44 (integer) - The id for the case whose guarantee is being cancelled.

+ Request (application/json)

    + Headers

            Authorization: Basic YWJjZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXo6

    + Body

            {
               "guaranteeDisposition" : "CANCELED"
            }

+ Response 200 (application/json)

    + Attributes (GuaranteeRequest)

    + Body

            {
                "disposition": "CANCELED",
                "reviewedBy": "support@signifyd.com",
                "reviewedAt": "2016-02-23T22:28:43+0000",
                "submittedBy": "support@signifyd.com",
                "submittedAt": "2016-02-02T18:09:57+0000",
                "rereviewCount": 0,
                "caseId": 8260439,
                "guaranteeId": 53
            }
            
+ Response 404 (application/json)

    + Body

            {
              messages: [
                  "You are not authorized to set this Guarantee Disposition."
              ]
            }

## Group Webhooks

Webhooks are messages sent by SIGNIFYD via HTTP POST to a url you configure on your [Notifications](https://app.signifyd.com/settings/notifications) page in the SIGNIFYD settings.
Webhook messages are sent when certain events occur in the life of an investigation. They allow your application to
receive pushed updates about an investigation, rather than poll SIGNIFYD for status changes. 


### Webhook Events
You can create webhooks in Signifyd for the following events. Each event has a corresponding topic identifier
which will be sent in the `X-SIGNIFYD-TOPIC` header of the webhook.

Currently, the following events can trigger a webhook. Only one URL may be specified per event.

| Event| `X-SIGNIFYD-TOPIC` | Description | Response |
| --- | --- | --- | --- |
| Decision Made | `decisions/*` | Sent anytime a decision is made on a case (guarantee or recommendation) |  <a href="#decision-made">View</a> |
| Case Creation | `cases/creation` | Sent immediately after a case is created | <a href="#case-webhook">View</a> |
| Case Rescore | `cases/rescore` | Sent anytime a case is scored following case creation |  <a href="#case-webhook">View</a> |
| Case Review | `cases/review` | Sent anytime a user assigns a case a Review Disposition (thumbs up/down on console) |  <a href="#case-webhook">View</a> |
| Claim Reviewed | `claim/reviewed` | Sent anytime a request for chargeback reimbursement has been completed |  <a href="#claim-reviewed">View</a> |
| Claim Paid | `claims/paid` | Sent anytime a claim has been paid | <a href="#claim-payouts">View</a> |
| Guarantee Completion | `guarantees/completion` | Deprecated as of January 2021: use the Decision Made event instead. Sent anytime a guarantees decision is made on a case |  <a href="#case-webhook">View</a> |

### Responding to a Webhook
To acknowledge receipt of a webhook, your endpoint should be publicly accessible and return a 2xx HTTP status code. All response codes outside this range, including 3xx codes, will indicate to Signifyd that you did not receive the webhook. This mean that a URL redirection or a "Not Modified" response will be treated as a failure. 

If your endpoint does not successfully receive a webhook we will resend the webhook up to 15 times over four days. The first webhook will be retried after 20s with expotential delays for each subsequent retry. Webhooks cannot be manually retriggered, however you can retrieve the status of a guarantee or case by making a GET request on the applicable resource.

### Verifying a Webhook

To allow a client to verify a webhook message has in fact come from SIGNIFYD, an `X-SIGNIFYD-SEC-HMAC-SHA256` header is included in each webhook POST message. The contents of this header is the Base64 encoded output of the HMAC SHA256 encoding of the JSON body of the message, using the team's API key as the encryption key. To verify the authenticity of the webhook message, you should calculate this value yourself and verify it equals the value contained in the header.

Here's an example of how to compute the value in Java.

`Mac sha256HMAC = javax.crypto.Mac.getInstance("HmacSHA256");
SecretKeySpec secretKey = new SecretKeySpec(teamAPIKEY.getBytes(), "HmacSHA256");
sha256HMAC.init(secretKey);
String encodedHMAC256 = Base64.encodeBase64String(sha256HMAC.doFinal(jsonBody.getBytes("UTF-8")));`

### Testing a Webhook
Once a webhook is configured, a test POST can be sent by selecting the Test button next to the desired webhook in the Signifyd console settings.
The test webhook message is sent with an HMAC SHA256 verification header (see Webhook Verification below).
The header value is the Base64 encoded output of the HMAC SHA256 encoding of the test webhook JSON body,
using the team API key when available. The test webhook message uses the secret key `ABCDE`. A 'cases/test' topic header is also sent with the test POST.

### Webhook Response

#### <a name="decision-made"/>Decision Made</a> 
For field definition, please refer to the [field definition of Get Case](reference/cases/get-cases)

```
{
  “caseId”: 1,
  "customerCaseId": "19418"
  "createdAt":"2013-11-05T14:23:26-0800",
  "updatedAt":"2013-11-05T14:23:26-0800",
  “isTest”: true,
  “score“:262,
  “checkpointAction”: “ACCEPT”,
  "checkpointActionReason" : "MY_CUSTOMER_POLICY_A"
}
```

#### <a name="case-webhook"/>Cases and Guarantees</a>

```
{
   "analysisUrl":"https://signifyd.com/v2/cases/1/analysis",
   "notesUrl":"https://signifyd.com/v2/cases/1/notes",
   "guaranteeEligible":false,
   "status":"DISMISSED",
   "uuid":"709b9107-eda0-4cdd-bdac-a82f51a8a3f3",
   "headline":"John Smith",
   "reviewDisposition":null,
   "associatedTeam":{
      "teamName":"anyTeam",
      "teamId":26,
      "getAutoDismiss":true,
      "getTeamDismissalDays":2
   },
   "orderId":"19418",
   "orderDate":"2013-06-17T06:20:47-0700",
   "orderAmount":365.99,
   "createdAt":"2013-11-05T14:23:26-0800",
   "updatedAt":"2013-11-05T14:23:26-0800",
   "investigationId":1,
   "score":262,
   "caseId":1,
   "guaranteeDisposition":"APPROVED"
}
```


#### <a name="claim-reviewed"/>Claim Reviewed</a>
```
{
   "caseId":1,
   "orderId":"19418",
   "createdAt":"2016-02-21T06:45:05.343Z",
   "updatedAt":"2016-02-21T06:45:05.343Z",
   "amount":365.99,
   "currency":"USD",
   "status":"CLOSED",
   "disposition":"APPROVED",
   "dispositionReason":"elgible chargeback"
}
```

#### <a name="claim-payouts"/>Claim Payouts</a>
```
{
   "caseId":1,
   "orderId":"19418",
   "createdAt":"2016-02-21T06:45:05.343Z",
   "updatedAt":"2016-02-21T06:45:05.343Z",
   "amount":365.99,
   "currency":"USD",
   "status":"CLOSED",
   "disposition":"APPROVED",
   "dispositionReason":"elgible chargeback",
   "payouts":[
    {
      "id":123,
      "createdAt":"2016-08-18T06:17:10.225Z",
      "payoutDate":"2016-08-18",
      "method":"PayPal",
      "currency":"USD",
      "amount":101.95,
      "transactionId":"1232"
    }
  ]
}
```

## Create and Update Webhooks [/teams/webhooks]

### Create Webhooks [POST]
Create a new webhook or webhooks for a team. 

+ Request (application/json)

  + Headers

            Authorization: Basic YWJjZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXo6

    + Attribute (array[WebhookRequest])

    + Body

            {
                "webhooks":
                    [
                        {
                            "event": "CASE_REVIEW",
                            "url": "http://knickknacks.examplepartner.com/signifydWebhook.php"
                        },
                        {
                            "event": "CASE_CREATION",
                            "url": "http://knickknacks.examplepartner.com/signifydWebhook.php"
                        }
                    ]
            }

+ Response 200 (application/json)

    + Attribute (array[Webhook])

    + Body

            [
                {
                    "id": 4661,
                    "url": "http://knickknacks.examplepartner.com/signifydWebhook.php",
                    "eventType": "CASE_REVIEW",
                    "team": {
                        "teamName": "Consolidated Knick-Knacks/Amalgamated Tchotchke, Inc.",
                        "teamId": 1234
                    },
                    "eventDisplayText": "Case Review"
                },
                {
                    "id": 4659,
                    "url": "http://knickknacks.examplepartner.com/signifydWebhook.php",
                    "eventType": "CASE_CREATION",
                    "team": {
                        "teamName": "Consolidated Knick-Knacks/Amalgamated Tchotchke, Inc.",
                        "teamId": 1234
                    },
                    "eventDisplayText": "Case Creation"
                }
            ]

+ Response 400 (application/json)
This error response follows our standard error message format, but it also includes an echo of the original request in the `requestBody` field.

    + Body

            {
                "requestBody": {
                    "teamId": null,
                    "webhooks": [
                        {
                            "event": "CASE_REVIEW",
                            "url": "http://knickknacks.examplepartner.com/signifydWebhook.php",
                        },
                        {
                            "eventType": "CASE_CREATION",
                            "url": "http://knickknacks.examplepartner.com/signifydWebhook.php",
                        }
                    ]
                },
                "errors": {
                    "webhooks[1].url": [
                        "A webhook already exists for that event type"
                    ],
                    "webhooks[0].url": [
                        "A webhook already exists for that event type"
                    ]
                },
                "messages": []
            }

### Update Webhooks [PUT]
Update existing webhooks for a team in bulk.
+ Request (application/json)

  + Headers

            Authorization: Basic YWJjZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXo6

    + Attribute (array[WebhookRequest])

    + Body

            {
                "webhooks":
                [
    
                    {
                        "event": "CASE_REVIEW",
                        "url": "http://knickknacks.examplepartner.com/altReview.php"
                    },
                    {
                        "event": "GUARANTEE_COMPLETION",
                        "url": "http://knickknacks.examplepartner.com/altGuaranteeCompletion.php"
                    }
                ]
            }

+ Response 200 (application/json)

    + Attribute (array[Webhook])

    + Body

            [
                {
                    "id": 5011,
                    "url": "http://knickknacks.examplepartner.com/altReview.php"
                    "eventType": "CASE_REVIEW",
                    "team": {
                        "teamName": "Consolidated Knick-Knacks/Amalgamated Tchotchke, Inc.",
                        "teamId": 1234
                    },
                    "eventDisplayText": "Case Review"
                },
                {
                    "id": 5012,
                    "url": "http://knickknacks.examplepartner.com/altGuaranteeCompletion.php"
                    "eventType": "GUARANTEE_COMPLETION",
                    "team": {
                        "teamName": "Consolidated Knick-Knacks/Amalgamated Tchotchke, Inc.",
                        "teamId": 1234
                    },
                    "eventDisplayText": "Guarantee Completion"
                }
            ]


### Retrieve Webhooks [GET]
Retrieve all webhooks for a team.
+ Request

    + Headers

            Authorization: Basic YWJjZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXo6
+ Response 200 (application/json)

    + Attribute (array[Webhook])

    + Body

            [
                {
                    "id": 4661,
                    "url": "http://knickknacks.examplepartner.com/signifydWebhook.php",
                    "eventType": "CASE_REVIEW",
                    "team": {
                        "teamName": "Consolidated Knick-Knacks/Amalgamated Tchotchke, Inc.",
                        "teamId": 1234
                    },
                    "eventDisplayText": "Case Review"
                },
                {
                    "id": 4659,
                    "url": "http://knickknacks.examplepartner.com/signifydWebhook.php",
                    "eventType": "CASE_CREATION",
                    "team": {
                        "teamName": "Consolidated Knick-Knacks/Amalgamated Tchotchke, Inc.",
                        "teamId": 1234
                    },
                    "eventDisplayText": "Case Creation"
                },
                {
                    "id": 4658,
                    "url": "http://knickknacks.examplepartner.com/signifydWebhook.php",
                    "eventType": "GUARANTEE_COMPLETION",
                    "team": {
                        "teamName": "Consolidated Knick-Knacks/Amalgamated Tchotchke, Inc.",
                        "teamId": 1234
                    },
                    "eventDisplayText": "Guarantee Completion"
                },
                {
                    "id": 4660,
                    "url": "http://knickknacks.examplepartner.com/signifydWebhook.php",
                    "eventType": "CASE_RESCORE",
                    "team": {
                        "teamName": "Consolidated Knick-Knacks/Amalgamated Tchotchke, Inc.",
                        "teamId": 1234
                    },
                    "eventDisplayText": "Case Rescore"
                }
            ]



## Update and Delete a Webhook [/teams/webhooks/{id}]
Modify or delete an existing webhook for a team.

### Update Webhook [PUT] 


+ Parameters
    + id: 4660 (number) - Signifyd generated id for the given webhook. These are available when webhooks are first created or when listing webhooks.

+ Request (application/json)
  + Headers

            Authorization: Basic YWJjZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXo6
            
    + Body

            {
                "url": "http://knickknacks.examplepartner.com/altRescore.php"
            }


+ Response 200 (application/json)

    + Attribute (Webhook)

    + Body

                {
                    "id": 4660,
                    "url" : "http://knickknacks.examplepartner.com/signifydWebhook.php",
                    "team": {
                        "teamId": 1234,
                        "teamName": "Consolidated Knick-Knacks/Amalgamated Tchotchke, Inc."
                    },
                    "eventType": "CASE_RESCORE",
                    "eventDisplayText": "Case Rescore"
                }

### Delete Webhook [DELETE]
+ Parameters
    + id: 4660 (number) - Signifyd generated id for the given webhook. These are available when webhooks are first created or when listing webhooks.

+ Request

    + Headers

            Authorization: Basic YWJjZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXo6
+ Response 204


### Group Device Fingerprint

Signifyd’s device fingerprinting solution uniquely tracks and identifies devices used to transact on your site, increasing your protection from fraud.

### 1. Install the Javascript snippet

Place the following script just before the closing `</head>` tag on all public facing pages. The script loads asynchronously and does not affect page load time.

*We recommend that you load the script on all public user-facing pages. If you are unable to load the script on pages such as payment, login, etc, make sure to have loaded the script at least once before the checkout process is complete.*

```
<script
defer
type="text/javascript"
id="sig-api"
data-order-session-id="YOUR-SESSION-ID-HERE"
src="https://cdn-scripts.signifyd.com/api/script-tag.js"></script>
```

### 2. Provide a unique session id

Replace data-order-session-id with a unique session id for the current user's checkout.

The session id must formatted as followed:
- Less than 128 characters long
- Upper and lowercase English letters (a-z, A-Z)
- Digits (0-9)
- Underscore (_)
- Hyphen (-)

### 3. Send the session id on case creation

After an order is created on your website you will need to add the value you used for `data-order-session-id` to the body of the API POST request to, `https://api.signifiyd.com/v2/cases` under the `purchase` object:

```
// Create a Case
// POST https://api.signifyd.com/v2/cases
// Body
{
    "purchase": {
        "orderSessionId": "YOUR-SESSION-ID-HERE",
        "browserIpAddress": "192.168.1.1",
        "orderId": "19418",
        "createdAt": "2016-07-11T17:54:31-05:00",
        "paymentGateway": "stripe",
        "paymentMethod": "credit_card",
        "transactionId": "1a2sf3f44f21s1",
        "currency": "USD",
       …
    }
}
```

View the [create a case](http://docs.signifydapi.apiary.io/#reference/cases/create-a-case/create-a-case) docs for additional information on creating cases.

### Testing the Signifyd device fingerprinting script
During testing you may want to confirm that the Signifyd device fingerprinting script is working correctly. To do so you can call the `SIGNIFYD_GLOBAL.scriptTagHasLoaded()` method which will return a boolean `true|false` value.

Note - *we have namespaced all of the device fingerprinting methods under the `SIGNIFYD_GLOBAL` object to avoid potential naming conflicts.*



# Data Structures
## Transactions (object)
+ parentTransactionId - If there was a previous transaction for the payment like a partial AUTHORIZATION or SALE, the parent id should include the originating transaction id.
+ transactionId (string) - The unique identifier provided by the payment provider for the payment. If you have provided us with credentials for your payment gateway we can obtain additional details about the order, like AVS and CVV status, from your payment provider.
+ createdAt (string) - The date and time when the transaction was processed by the payment provider. Formatted as `yyyy-MM-dd'T'HH:mm:ssZ` see the dates section of the doc for more information about date formats.
+ gateway (string) - The name of the payment gateway or financial institution that processed the transaction.
+ paymentMethod (PaymentMethod) - The funding source used to complete the payment.
+ type (TransactionType, required) - The type of transaction that was processed by the payment provider.
+ gatewayStatusCode (TransactionStatus, required) - The status as returned by the payment provider when the transaction was submitted.
+ gatewayStatusMessage - Additional information provided by the payment provider describing why the transaction succeeded or failed.
+ gatewayErrorCode (ErrorCode) -  If the transaction resulted in an error or failure the enumerated reason the transcaction failed as provided by the payment provider.
+ currency (string, required) - The currency type of the payment, in 3 letter ISO 4217 format.
+ amount (number, required) - A positive integer representing how much the payment method was charged.
+ avsResponseCode (avsCodes) - The response code from the address verification system (AVS).
+ cvvResponseCode (cvvCodes) - The response code from the card verification value (CVV) check.
+ paypalPendingReasonCode (paypalPendingReasons) - The response provided in reason_code by Paypal if the payment_status is Pending. This field does not apply to capturing point-of-sale authorizations, which do not create pending payments.
+ paypalProtectionEligibility (ProtectionEligibility) - The response provided by Paypal for protection_eligibility. The merchant protection level in effect for the transaction. Supported only for PayPal payments.
+ paypalProtectionEligibilityType (ProtectionEligibilityType) - The response provided by Paypal for protection_eligibility_type. The merchant protection type in effect for the transaction. Returned only when protection_eligibility is ELIGIBLE or PARTIALLY_ELIGIBLE. Supported only for PayPal payments.
+ checkoutPaymentDetails (CheckoutPaymentDetails) - Information about the payment method as submitted by the purchaser during checkout.
+ paymentAccountHolder (PaymentAccount) - If the payment method requires an account to use, the information pertaining to that payment account should be provided. This information should only come from by the financial institution or payment provider that manages the payment account and not the purchaser.
+ verifications (Verifications) - Send the raw AVS and CVV response codes from your payment gateway. We will *automatically* map them to their respective values on our side. ***Important:*** Not to be used in conjunction with `transactions.avsResponseCode` or `transactions.cvvResponseCode`.

## Verifications (object)
+ avsResponseCode (string) - The response code from the address verification system (AVS). Accepted codes: http://www.emsecommerce.net/avs_cvv2_response_codes.htm
+ cvvResponseCode (string) - The response code from the card verification value (CVV) check. Accepted codes listed on the above link.
+ avsResponse (AVSResponse) - Send address match code and zip match code separately if your payment gateway returned two AVS responses - one each for address and zip. ***Important:*** Not to be used in conjunction with `verifications.avsResponseCode`.

## AVSResponse (object)
+ addressMatchCode (string) - Address response code returned by your payment gateway.
+ zipMatchCode (string) - Zip response code returned by your payment gateway.

## ProtectionEligibilityType (enum)
+ ITEM_NOT_RECEIVED_ELIGIBLE
+ UNAUTHORIZED_PAYMENT_ELIGIBLE
+ ITEM_NOT_RECEIVED_ELIGIBLE,UNAUTHORIZED_PAYMENT_ELIGIBLE (string)

## Team (object)
+ teamName: `MyTeamName` (string) - Name of the team.
+ teamId: 26 (number) - Id of the team.

## Case (object)
+ associatedTeam (Team) - The team associated with the case.
+ guaranteeDisposition: "APPROVED" (GuaranteeDisposition) - If a case has been submitted for guarantee, this field will be present and indicate the decision state of the guarantee.
+ investigationId: 9973641239 (number) - Signifyd's unique identifier for the order.
+ caseId: 9973641239 (number) - Signifyd's unique identifier for the order.
+ headline: `Order 19418` (string) - The headline (aka name) assigned to the case.
+ uuid: `709b9107-eda0-4cdd-bdac-a82f51a8a3f3` (string) - A universally unique id assigned to the case.
+ updatedAt: `2019-02-31T23:46:37+0000` (string) - The date and time when the case was last updated.
+ status: "DISMISSED" (InvestigationStatus) - The current status of the case.
+ reviewDisposition "UNSET" (ReviewDisposition) - The review disposition signifies the agent's opinion after reviewing the case.
+ orderId: 19418 (number) - The unique identifier for the order that was provided when the case was created.
+ orderAmount: 365.99 (number) - The total price of the order, including shipping price and taxes.
+ orderOutcome `SUCCESSFUL` (string) - The outcome of the order
+ currency `USD` (string) - The currency type of the order, in 3 letter ISO 4217 format.
+ adjustedScore: 776 (number) - The adjusted score.
+ score: 776 (number) - A value from 0-1000 indicating the likelihood that the order is fraud. 0 indicates the highest risk, 1000 inidicates the lowest risk.
+ orderDate: `2013-06-17T06:20:47-0700` (string) - The date and time when the order was placed.
+ createdAt: `2013-11-05T14:23:26-0800` (string) - The date and time when the case was created.
+ testInvestigation: false (boolean) - Indicates whether this is a test case. Test cases do not come with chargeback protection and are not billable.
+ guaranteeEligible: false (boolean) - Indicates if a guarantee can be requested for this Case.

### recommendedAction (enum)

# Members
+ `ACCEPT` - Allow the order to be processed. e.g. fulfill the order, authorize the transactions, capture the transaction, etc.
+ `HOLD` - Suspend the order from being processed. The order requires additional review by Signifyd and should be temporarily held until Signifyd has completed the review. You can recieve a notification when the review is complete by registering for a webhook event. `HOLD` is only returned if it's configured by your policy.    
+ `REJECT` - Block the order from being processed further. e.g. cancel the order, do not submit for authorization, void the transaction, etc. 


## GuaranteeRequest (object)
+ disposition (string) - Guarantee decision result
+ reviewedBy (string) - Analyst who made the decision.
+ reviewedAt (string) - Time of decision. See the Dates section for date formats.
+ submittedBy (string) - User who requested the guarantee.
+ submittedAt (string) - Time when guarantee is requested. See the Dates section for date formats.
+ rereviewCount (number) - Count if there was any re-review
+ caseId (number) - The unique identifier assigned to the case when it is created.
+ guaranteeId (number) - The unique identifier assigned for this guarantee.

## GuaranteeDisposition (enum)
+ APPROVED
+ DECLINED
+ PENDING
+ CANCELED
+ IN_REVIEW

## CaseStatus (enum)
+ OPEN
+ DISMISSED

## ReviewDisposition (enum)
+ GOOD
+ FRAUDULENT
+ UNSET 

## CaseCreation (object)
+ policy (Policy) - The response type and checkpoint at which the decision is being requested for. 
+ decisionRequest (DecisionRequest) - The decision request.
+ purchase (Purchase) - Information about the purchase event of the order.
+ recipients (array [Recipient]) - Information about the person or organization receiving the items on the order.
+ transactions (array [Transactions]) - A list of payment instruments and associated payment details used to pay for the order.  
+ userAccount (UserAccount) - Use only if shoppers can create or sign into an online account on the store to place an order. Leave as null if the order was placed without an account / guest checkout.
+ customerOrderRecommendation (customerOrderRecommendation) - If the order has already been reviewed for fraud this should indicate the outcome of the review.
+ tags (array[string]) - A list of attributes or short descriptors associated with the order.
+ sellers (array [Seller]) - Use only if you operate a marketplace (e.g. Ebay) and allow other merchants to list and sell products on the online store. A seller is an online account for the merchant or business that listed and sold the product(s) on the order. 
+ deviceFingerprints (array [deviceFingerprint]) - A list of device fingerprint payloads.

## Policy (object)
+ name (PolicyName) - The response type that should be applied to the case: an asynchronous response that will require subscribing to webhook events or polling the Get Case API or a synchronous response.

// -- keep the space above, and ignore the error below --
// checkpoint (CheckpointType, optional) - Type of event at which a decision is requested.  If omitted, it defaults to checkout checkpoint. 


## PolicyName (enum)
+ POST_AUTH - Asynchronous response

// -- keep the space above, and ignore the error below --
// + PRE_AUTH - Synchronous response 
// + GENERAL_SYNC - Synchronous response

## CheckpointType (enum, required)
+ ADD_PAYMENT_METHOD -  the event at where an end user adds a payment instrument (e.g. credit card) to user account/profile in the merchant system.

## deviceFingerprint
+ provider - The name of the device fingerprint provider (threatmetrix, inauth, iovation)
+ payload - Base64 encoding of the device fingerprint response given by the provider.
+ payloadEncoding - The character encoding of the payload, e.g. utf8 or ascii. 
+ payloadVersion - The version number for the payload's structure/schema, if the provider has given one. This is used to identify changes in response structure when a provider introduces changes to their API.

## DecisionRequest (object)
+ paymentFraud (DecisionType) - Type of prediction being requested for the payment fraud use case.
a
## DecisionType (enum, required)
+ GUARANTEE - Use when you need a decision with financial guarantee.
+ SCORE - Use when you only need a score, and no financial guarantee.
+ DECISION - Use when you only need a decision, and no financial guarantee.

## CreateTransactions (object)
+ checkoutToken (string, required) - A unique id for a particular checkout.
+ transactions (Transactions, required)-  A list of payment instruments and associated payment details used to pay for the order.


## Purchase (object)
+ orderId (string, required) - The unique id of the order.
+ orderSessionId (string, required) - The unique id for the user's session. This is to be used in conjunction with the Signifyd fingerprinting javascript.
+ checkoutToken (string) - A unique id for a particular checkout.
+ browserIpAddress (string, required) - The IP Address of the device or browser that was used to place the order. You must provide a valid IP address syntax. Local host IPs or IPs from a CDN or load balancer should not be provided.
+ discountCodes (array[DiscountCodes], required) - A list of discount codes, coupons, or promotional codes used during checkout to recieve a discount on the order. You can only provide the discount code and the discount amount OR the discount percentage. 
+ shipments (array[Shipment], required) - A list of shipments for the order.
+ products (array[Product], required) - A list of products purchased on the order.
+ createdAt (string, required) - The date and time when the order was placed. Formatted as `yyyy-MM-dd'T'HH:mm:ssZ` see the dates section of the doc for more information about date formats.
+ currency (string, required) - The currency type of the order, in 3 letter ISO 4217 format.
+ orderChannel (OrderChannel, required) - The channel or source where the order was placed.
+ receivedBy (string) - If the order was was placed on-behalf of a customer service or sales agent, his or her name.
+ totalPrice (number, required) - The total amount of the order, including the shipping price, taxes, and any fees. This should be the amount you want Signifyd to provide Guarantee Fraud Protection coverage for. 

## customerOrderRecommendation (enum)
+ DECLINE_POLICY - The order was declined for business reasons.
+ DECLINE_FRAUD - The order was declined due to fraud related reasons. 
+ APPROVE - The order was approved by the merchant.
+ REVIEW - The order was reviewed by the merchant. 

## OrderChannel (enum)
+ WEB - Orders placed online through a digital storefront.
+ PHONE - Orders placed via telephone.
+ MOBILE_APP - Orders placed through a native mobile application installed on the device (iOS / Android).
+ SOCIAL - Orders placed directly through a social network platform (Facebook, Twitter etc).
+ MARKETPLACE - Orders placed on a 3rd party ecommerce site where products are sold by multiple sellers (Amazon, Wish, Walmart, EBay, etc).
+ IN_STORE_KIOSK - Orders purchased at a physical store on a store owned device and shipped to the buyer's home.
+ SCAN_AND_GO - Orders purchased by using in-app scanning and skipping the checkout line.


## cvvCodes (enum)
+ M - The CVV provided matches the information on file with the cardholder's bank
+ N - The CVV provided does not match the information on file with the cardholder's bank
+ P - The request did not contain all the information needed to verify the CVV2 code
+ S - The CVV was provided but the card-issuing bank does not participate in card verification
+ U - The card-issuing bank received the CVV, but did not verify whether it was correct. This typically happens if the bank declines an authorization before evaluating the CVV.

## avsCodes (enum)
+ X - Full match: Street address and 9-digit ZIP code both match
+ Y - Full match: Street address and 5-digit ZIP code both match
+ A - Partial match: Street address matches, but both 5-digit and 9-digit ZIP Code do not match
+ W - Partial match: Street address does not match, but 9-digit ZIP code matches
+ Z - Partial match: Street address does not match, but 5-digit ZIP code matches
+ N - No Match: AVS is not available or if the AVS in a U.S. bank is not functioning properly
+ U - Unavailable: AVS is not available or if the AVS in a U.S. bank is not functioning properly
+ R - Unavailable: Issuer’s System Unavailable or Timed Out
+ E - Invalid: AVS data is invalid
+ S - Not suppoted: U.S. issuing bank does not support AVS
+ D - International AVS Code: Full match - Street Address and Postal Code match for International Transaction
+ M - International AVS Code: Full match - Street Address and Postal Code match for International Transaction
+ B - International AVS Code: Partial match - Street Address Match for International Transaction. Postal Code not verified due to incompatible formats
+ P - International AVS Code: Partial match - Postal Codes match for International Transaction but street address not verified due to incompatible formats
+ C - International AVS Code: No match - Street Address and Postal Code not verified for International Transaction due to incompatible formats
+ I - International AVS Code: No match - Address Information not verified by International issuer
+ G - International AVS Code: Not Supported - Non International AVS Code:US. Issuer does not participate

## PaymentMethod (enum)
+ ACH
+ ALI_PAY
+ AMAZON_PAYMENTS
+ ANDROID_PAY
+ APPLE_PAY
+ BITCOIN
+ CARRIER_LOAN
+ CASH
+ CHECK
+ CREDIT_CARD
+ FREE
+ GIFT_CARD
+ GOOGLE_PAY
+ LOAN
+ PAYPAL_ACCOUNT
+ REWARD_POINTS
+ SAMSUNG_PAY
+ STORE_CREDIT
+ VISA_CHECKOUT
+ VOUCHER - A voucher is a bond of the redeemable transaction type which is worth a certain monetary value. 



## Recipient (object)
+ fullName (string, required) - The full name of the person receiving the goods. If this item is being shipped, then this field is the person it is being shipping to. Don't assume this name is the same as card.cardHolderName. Only put a value here if the name will actually appear on the shipping label. If this item is digital, then this field will likely be blank.
+ confirmationEmail (string, required) - When this purchase was completed, you likely sent a confirmation email or you will be sending a confirmation email to someone once you approve the order. This is the email address to which that confirmation email will be sent. You must provide a valid email syntax.
+ confirmationPhone (string, required) - The phone number that you would call if there was something wrong with this order or the phone number that was supplied with the shipping information.
+ organization (string) - If provided by the buyer, the name of the recipient's company or organization.
+ deliveryAddress (DeliveryAddress, required) - The address to which the order will be delivered.

## DiscountCodes (object)
+ amount (number, required) - The fixed amount of the discount applied. e.g. $10 off purchase. This field should be NULL if a discount percentage is provided.
+ percentage (number, required) - If a percentage discount is applied the percentage of the total order amount the discount applies to. e.g. 20% off purchase. This field should be NULL if amount is provided.
+ code (string, required) - The name of the discount code entered during checkout.

## Shipment (object)
+ shippingPrice (number, required) - The amount charged to the customer for shipping the product
+ shipper (shipper) - The name of the shipper 
+ shippingMethod (shippingMethod, required) - The type of the shipment method used

## shipper (enum)
+ FEDEX
+ DHL
+ SHIPWIRE
+ USPS
+ UPS

## shippingMethod (enum)
+ EXPRESS
+ ELECTRONIC
+ FIRST_CLASS
+ FIRST_CLASS_INTERNATIONAL
+ FREE
+ FREIGHT
+ GROUND
+ INTERNATIONAL
+ OVERNIGHT
+ PRIORITY
+ PRIORITY_INTERNATIONAL
+ PICKUP
+ SAME_DAY
+ STANDARD
+ STORE_TO_STORE
+ TWO_DAY

## Card (object)
+ cardHolderName (string, required) - The full name on the credit card that was charged.
+ bin (number, required) - The first six digits of the credit card, the bank identification number, which uniquely identifies the issuer.
+ last4 (string, required) - The last four digits of the card number.
+ expiryMonth (number) - MM representation of the expiration month of the card.
+ expiryYear (number) - yyyy representation of the expiration year of the card.
+ billingAddress (Address, required) - The billing address for the card.

## UserAccount (object)
+ email (string, required) - The primary email address associated with the account.
+ username (string) - The username associated with the account. Please supply this even if it is the same as the email address.
+ phone (string, required) - The phone number associated with the account.
+ createdDate (string, required) - `yyyy-MM-dd'T'HH:mm:ssZ` The date when the account was created. See the Dates section of these docs for more information about date formats.
+ accountNumber (string) - Your unique identifier for the account.
+ lastOrderId (string) - The unique identifier for the last order placed by this account, prior to the current order.
+ aggregateOrderCount (number, required) - The total count of orders placed by this account since it was created, including the current order.
+ aggregateOrderDollars (number, required) - The total amount spent by this account since it was created, including the current order.
+ lastUpdateDate (string) - `yyyy-MM-dd'T'HH:mm:ssZ` The last time a change was made to this account other than an order being placed. Examples include changing email addresses or adding a new credit card. See the Dates section of these docs for more information about date formats.

## Seller (object)
+ name (string) - The business name of the seller.
+ email (string) - The primary email address associated with the seller.
+ username (string) - The unique username associated with the seller. This will likely be whatever they use to login to your site. Please supply this even if it is the same as the email address.
+ accountNumber (string) Your unique, internal identifier for the seller if different from username.
+ phone (string) - The phone number associated with the seller.
+ domain (string) - The domain of the seller.
+ createdDate (string) - `yyyy-MM-dd'T'HH:mm:ssZ` The date when the seller account was created on your site.
+ aggregateOrderCount (number) - The total count of orders sold by this seller since it was created, including the current order.
+ aggregateOrderDollars (number) - The total amount sold by this seller since it was created, including the current order.
+ lastUpdateDate (string) -  `yyyy-MM-dd'T'HH:mm:ssZ` The last time a change was made to this seller (e.g. changed email).
+ onboardingIpAddress (string) - The IP address of the device used when this seller account was created.
+ onboardingEmail (string) - The email address associated with this seller account when it was created.
+ tags (array[string]) - A list of attributes or short descriptors associated with the seller account, formatted as a string of comma-separated values. Example: tag1, tag2, tag3.
+ shipFromAddress (SellerAddress) - The location from which the seller shipped the order.
+ corporateAddress (SellerAddress) - The corporate address of the seller.

## Address (object)
+ streetAddress (string, required) - The street number and street name.
+ unit (string, required) - The unit or apartment number.
+ city (string, required) - The city name.
+ provinceCode (string, required) - The code or abbreviation for the province.
+ postalCode (string, required) - The postal code.
+ countryCode (string, required) - The two-letter ISO-3166 country code. If left blank, we will assume US.

## SellerAddress (object)
+ streetAddress (string) - The street number and street name.
+ unit (string) - The unit or apartment number.
+ city (string) - The city name.
+ provinceCode (string) - The code or abbreviation for the province.
+ postalCode (string) - The postal code.
+ countryCode (string) - The two-letter ISO-3166 country code. If left blank, we will assume US.

## DeliveryAddress (object)
+ Include Address

## Product (object)
+ itemId (string) - Your unique identifier for the product. 
+ itemName (string, required) - The name of the product.
+ itemIsDigital (boolean, required) - Indicates whether the item is electronically delivered e.g. gift cards
+ itemCategory (string) - The name of the top-level product category. e.g. Apparel
+ itemSubCategory (string) - The name of the sub-category of the product if applicable. e.g. T-Shirt 
+ itemUrl (string) - The url to the product's page.
+ itemImage (string) - The url to an image of the product.
+ itemQuantity (number, required) - The number of the items purchased.
+ itemPrice (number, required) - The price paid for each item (not the aggregate).
+ itemWeight (number) - The weight of each item in grams.
+ subscription (Subscription) - Represents a subscription object. You can use it to send recurring orders to Signifyd. Note that you can send multiple subscription products to Signifyd as part of the same order if a buyer has subscribed for more than one type of product. E.g., coffee beans and tea bags.

## Subscription (object)
+ id (string) - A unique identifier that can be used to link different recurring orders on the same subscription.
+ periodUnit (PeriodUnit) - Frequency of the recurring order within a given subscription, e.g., week, month, quarter, year, etc.
+ regularPeriodPrice (number) - Usually same as itemPrice. However if the subscription product is on a promotion such as "1st Month Free", itemPrice would be 0 whereas regularPeriodPrice would still be the regular price per subscription period.
+ currentPeriod (number) - The current subscription period that the recurring order belongs to, e.g., 1st month, 4th month, etc.
+ totalPeriods (number) - Total subscription term the customer has signed up for, e.g., 12 months, 36 months, etc.
+ totalRetailValue (number) - Approximate retail value worth of products that a buyer will receive by signing up for a subscription plan.

## PeriodUnit (enum)
+ DAY
+ WEEK
+ HALF_MONTH
+ MONTH
+ QUARTER
+ YEAR

## FulfillmentStatus (enum)
# Members
+ PARTIAL - Some of the items on the order have not been shipped. 
+ COMPLETE - All of the items on the order have been shipped. 
+ REPLACEMENT - A replacement for one of the items on the order has been shipped. 

## ShipmentStatus (enum)
# Members
+ WAITING FOR PICKUP - The carrier has received the request and is about to pick up the shipment.
+ IN TRANSIT - The carrier has accepted or picked up shipment.
+ OUT FOR DELIVERY - The carrier is about to deliver the shipment, or it is ready to pickup.
+ FAILED ATTEMPT - The carrier attempted to deliver but failed. 
+ DELIVERED - The shipment was delivered successfully.
+ EXCEPTION - An issue occured while attempting to deliver the shipment (customs hold, undelivered, and returned shipment).

## Fulfillment (object)
+ id (number, required) - The id that uniquely identifies the shipment.
+ orderId (string, required) - The id that uniquely identifies the order the shipment is for. This should be the same order id provided when the case was created in Signifyd.
+ createdAt (string, required) - yyyy-MM-dd'T'HH:mm:ssZ The date and time when the items were fulfilled.
+ fulfillmentStatus (FulfillmentStatus, optional) - The status of whether all of the products on the order have been shipped. If all of the products on the order have been shipped the status should be COMPLETE, if additional products need to still be shipped the status should be PARTIAL. 
+ shipmentStatus (ShipmentStatus, optional) - The delivery status of the shipment as provided by the shipping company.
+ shippingCarrier (string, optional) - The name of the shipping company that delivered is delivering the product(s).
+ trackingNumbers (array, optional) - The tracking number(s) for the shipment as provided by the shipping carrier.
+ trackingUrls (array) - The tracking URLs for the shipment as provided by the shipping carrier.
+ recipientName (string, optional) - The full name of the person receiving the shipment.
+ deliveryAddress (Address, optional) - The physical location where the item has been or is being shipped to.
+ products (array[Product], optional) - The list of products that were including in the shipment. 
+ deliveryEmail (string, optional) - If any of the items fulfilled were digital, the email address of the user that downloaded or has access to the digital product.
+ confirmationName (string, optional) - If the item was picked up at a physical location, the name of the store or business the item was picked up from.
+ confirmationPhone (string, optional) - If the item was picked up at a physical location, the phone number of the store or business the item was picked up from.

## Fulfillments (object)
+ fulfillments (array[Fulfillment]) - A list of fulfillments associated with an order.

## InvestigationStatus (enum)
+ OPEN
+ DISMISSED


## paypalPendingReasons (enum)
+ CHARGEBACK
+ GUARANTEE
+ BUYER_COMPLAINT
+ REFUND
+ UNCONFIRMED_SHIPPING_ADDRESS
+ ECHECK
+ INTERNATIONAL_WITHDRAWAL
+ RECEIVING_PREFERENCE_MANDATES_MANUAL_ACTION
+ PAYMENT_REVIEW
+ REGULATORY_REVIEW
+ UNILATERAL
+ VERIFICATION_REQUIRED
+ TRANSACTION_APPROVED_AWAITING_FUNDING

## ProtectionEligibility (enum)
+ ELIGIBLE
+ PARTIALLY_ELIGIBLE
+ INELIGIBLE
## PaymentAccount (object)
+ accountCreatedAt (string) - The date the payment account was created. This should be provided by the financial institution or payment provider. 
+ accountId (string) - The unique identifier of the payment account. This should be provided by the financial institution or payment provider. 
+ accountHolderName (string) - The full name of the account holder. This should be provided by the financial institution or payment provider. 
+ accountHolderPhone (string) - The phone number of the account holder. This should be provided by the financial institution or payment provider. 
+ accountHolderEmail (string) - The email of the account holder. This should be provided by the financial institution or payment provider. 
+ accountHolderDob (string) - The date of birth of the account holder. This should be provided by the financial institution or payment provider. 
+ accountHolderAnnualIncome (number) - The annual income of the account holder. This should be provided by the financial institution or payment provider. 
+ accountIsVerified (boolean) - Denote whether the account holder's identity was verified by the institution or payment provider. 
+ accountIsActive (boolean) - Denotes whether the account is live and in good standing. This should be provided by the financial institution or payment provider. 
+ accountCreditLine (number) - The total maximum amount the account can transact for. This should be provided by the financial institution or payment provider. 
+ accountBalance (number) - The total available amount the account can transact for. This should be provided by the financial institution or payment provider. 
+ billingAddress (Address) - The billing address for the account holder. This should be provided by the financial institution or payment provider. 

## TransactionStatus (enum)
+ SUCCESS
+ PENDING
+ FAILURE
+ ERROR

## ErrorCode (enum)
+ CARD_DECLINED
+ CALL_ISSUER
+ EXPIRED_CARD
+ FRAUD_DECLINE
+ INCORRECT_NUMBER
+ INVALID_NUMBER
+ INVALID_EXPIRY_DATE
+ INVALID_CVC
+ INCORRECT_CVC
+ INCORRECT_ZIP
+ INCORRECT_ADDRESS
+ INSUFFICIENT_FUNDS
+ PROCESSING_ERROR
+ PICK_UP_CARD
+ RESTRICTED_CARD
+ STOLEN_CARD
+ TEST_CARD_DECLINE

## TransactionType (enum)
+ PREAUTHORIZATION - A transaction that has not been submitted to the payment processor or financial institution for authorization or settlement. 
+ AUTHORIZATION - A transaction where the amount has been reserved against the cardholder's funding source but not charged.
+ SALE - A transaction where the amount has been authorized and the card has been charged in a single step. 

## CheckoutPaymentDetails (object)
+ holderName - The full name of the account holder as provided during checkout.
[...]
